pandas
numpy 
seaborn
matplotlib
scikit-learn
catboost
xgboost
dill
flask
#-e .  '-e means editable mode, it tells pip to install the package from current directory. Note: install_requires in setup.py expects only package names, not editable install options.'

